# Ambiente da aplicação: development | production | test
NODE_ENV=development

# Chave secreta para assinar/verificar tokens JWT
JWT_SECRET=your_jwt_secret_here

# Porta que o servidor backend vai rodar
PORT=7000

# Configurações do banco de dados PostgreSQL
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_PORT=5432
DB_NAME=your_database_name
