# development | production | test
NODE_ENV=

# Ex: postgres://user:password@localhost:5432/dbname
DATABASE_URL=

# JWT secret usado para assinar tokens
JWT_SECRET=

# Porta em que o servidor irá rodar
PORT=
