# Usuário do banco PostgreSQL
POSTGRESQL_USERNAME=your_postgres_user

# Senha do usuário PostgreSQL
POSTGRESQL_PASSWORD=your_postgres_password

# Nome do banco de dados PostgreSQL
POSTGRESQL_DATABASE=your_database_name
